{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1>
        {{ title }}
    </h1>

    <div>
        <a href="{% url 'index' %}">Inicio</a>
    </div>
    
    {% if contact_list %}
    <ul>
        {% for contact in contact_list %}
        <li>
            <div>
                <strong>Nome:</strong> {{ contact.show_full_name }}
            </div>
            <div>
                <strong>Numero:</strong> {{ contact.phone_number }}
            </div>
            <div>
                <a href="{% url 'contacts:update_contact' contact.pk %}"><span>Editar</span></a>
                <form action="{% url 'contacts:delete_contact' contact.id %}" method="POST" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja deletar o contato {{ contact.id.name }}?');">
                {% csrf_token %}
                <button type="submit" style="color: red; background: none; border: none; cursor: pointer;">
                    Deletar
                </button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <span>Não há contatos registrados.</span>
    {% endif %}

</div>
{% endblock content %}